/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: none;
}

.section-hero__cta > span, button, h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section-hero__subtitle, .badge, .button, a {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section-hero, .header {
  padding: 1rem 2rem;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4.5px;
  font-size: 1rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.4;
}

a {
  color: hsl(230, 29%, 20%);
  text-transform: uppercase;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.4s ease-out;
}
a:hover {
  text-decoration-color: hsl(230, 29%, 20%);
}

.button {
  background-color: hsl(0, 100%, 68%);
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  padding: 0.85rem 1.5rem;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
}
.button:hover {
  background-color: hsl(0, 100%, 76%);
}

.badge {
  display: block;
  letter-spacing: 0px;
  text-transform: uppercase;
  background-color: hsl(230, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  padding: 0.35rem 0.7rem;
  border-radius: 1rem;
}

body {
  padding-bottom: 3rem;
}

body::before {
  content: "";
  z-index: -10;
  position: absolute;
  height: 60.7vh;
  border-bottom-left-radius: 3.8rem;
  width: 50vw;
  background-color: hsl(203, 31%, 95%);
  right: 0;
  top: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container__content {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.header {
  padding-top: 2.4rem;
  anchor-name: --navbar;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__homepage_link > img {
  height: 1.5rem;
}
.header__navigation_links-desktop {
  display: none;
}

.navigation__links {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  min-width: 17.4rem;
  padding: 1.2rem 1rem;
}
.navigation__links li {
  padding: 0.5rem 1rem;
}
.navigation__links a {
  font-size: 1.125rem;
  letter-spacing: 1px;
}
.navigation__links li:last-child a {
  color: hsl(250, 3%, 56%);
}
.navigation__links_divider {
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.navigation__divider {
  margin: 0.3rem 0;
  border: 0;
  height: 1px;
  border-top: solid 1px hsl(0, 0%, 88%);
  width: 100%;
  display: inline-block;
}

#popover_target {
  position-anchor: --navbar;
  position: absolute;
  top: anchor(bottom);
  justify-self: anchor-center;
  transform: translateY(1.48rem);
  box-shadow: -7px 4px 16px 1px hsla(0, 0%, 0%, 0.2);
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
  opacity: 0;
  transition: display 0.4s allow-discrete ease-out, overlay 0.4s allow-discrete ease-out, opacity 0.4s ease-out;
}

#popover_target:popover-open {
  opacity: 1;
}
@starting-style {
  #popover_target:popover-open {
    opacity: 0;
  }
}

.section-hero {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.section-hero .image-hero {
  width: 162%;
  max-width: 600px;
  transform: translateX(-4.65%);
  margin: 1.5rem 0;
}
.section-hero__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
.section-hero__heading {
  flex-wrap: wrap;
  color: hsl(250, 3%, 56%);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  row-gap: 0.5rem;
}
.section-hero__subtitle {
  color: hsl(230, 29%, 20%);
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1;
}
.section-hero__content {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}
.section-hero__cta {
  margin-top: 0.5rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.8rem;
}
.section-hero__cta > span {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 3px;
  color: hsl(250, 3%, 56%);
}

@media screen and (min-width: 800px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  .header__navigation {
    max-width: 1110px;
    width: 100%;
  }
  .header {
    padding-top: 2.8rem;
  }
  .header__homepage_link > img {
    height: 2.07rem;
  }
  .navigation__toggle {
    display: none;
    visibility: hidden;
  }
  .navigation__divider {
    height: 5px;
    width: 5px;
    border-radius: 5px;
    background-color: hsl(250, 3%, 56%);
    margin: 0 1.3rem 0 1rem;
  }
  .navigation__links {
    padding-right: 0;
  }
  .navigation__links a {
    font-size: 1rem;
    letter-spacing: 0.5px;
  }
  .navigation__links li:last-child {
    padding-right: 0;
  }
  #popover_target,
  #popover_target:popover-open {
    transform: none;
    box-shadow: none;
    background-color: transparent;
    opacity: 1;
    flex-direction: row;
    position: static;
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
}
@media (min-width: 960px) {
  body {
    overflow-x: hidden;
  }
  main {
    flex-direction: column;
    align-items: center;
  }
  body::before {
    height: 39.5vh;
    width: 49vw;
  }
  .button {
    font-size: 1.02rem;
    padding: 1rem 2rem;
    letter-spacing: 1px;
  }
  .section-hero {
    max-width: 1110px;
    width: 100%;
  }
  .section-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row-reverse;
    padding: 7.9rem 2rem;
  }
  .section-hero .image-hero {
    max-width: 160%;
    transform: translate(2.5%, 0.2rem);
    position: relative;
    width: 46rem;
  }
  .section-hero__container {
    order: -1;
  }
  .section-hero__subtitle {
    font-size: 4rem;
  }
  .section-hero__content {
    gap: 2rem;
  }
  .section-hero__cta {
    margin-top: 2rem;
    gap: 1.5rem;
  }
  .section-hero__cta > span {
    font-size: 1rem;
    letter-spacing: 4.5px;
  }
}
@media screen and (min-width: 1100px) {
  .section-hero {
    overflow-x: unset;
    padding: 7.9rem 0rem;
  }
  .section-hero .image-hero {
    transform: translate(0.1%, 0.1rem);
  }
}
@media screen and (min-width: 1300px) {
  .section-hero {
    overflow-x: unset;
  }
  .section-hero .image-hero {
    max-width: unset;
    transform: translate(0, 0);
    position: unset;
    right: 0;
    width: 150%;
  }
}

/*# sourceMappingURL=style.css.map */
