$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);
$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

html,
body,
div,
section,
article,
header,
main,
footer,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
ol,
ul,
li,
img {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $dark-grayish-blue;

  &:visited {
    color: $dark-grayish-blue;
  }
}

ol,
ul,
li {
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3 {
  color: $very-dark-blue;
}

h2 {
  font-size: 1.7rem;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

p {
  line-height: 1.6rem;
}

button {
  background: none;
  border: none;
}

html {
  background-color: $off-white;
}

body {
  min-height: 100vh;
  background-color: $off-white;
  color: $dark-grayish-blue;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

html,
body {
  height: auto;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: $dark-grayish-blue;
  opacity: 0.4;
}

.hidden {
  display: none !important;
  visibility: none !important;
}

.header {
  padding: 1.2rem 1rem 0 1rem;
  width: 100%;
  grid-area: header;
  display: flex;

  &__logo {
    height: 1.8rem;
  }

  nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigation-maximized {
    transition:
      width 0.3s ease-out,
      opacity 0.3s ease-in;
    width: 15rem;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: $off-white;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1.5rem 1.5rem 0 0;
    gap: 3.5rem;

    .header__navigation {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 1.2rem;
      gap: 1.5rem;
    }
  }

  .navigation-hidden {
    overflow: hidden;
    width: 0;
    opacity: 0;
  }

  .navigation-minimized {
    display: inline-block;
    margin-left: auto;
    margin-top: -0.2rem;
  }

  &__navigation {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;

    a:active,
    a:hover {
      color: $soft-red;
      transition: 0.2s ease-out;
    }
  }
}

.main {
  padding: 1rem;
  display: grid;
  grid-template-areas:
    "hero"
    "aside"
    "feed";
  grid-template-columns: calc(100vw - 2rem);
  grid-template-rows: max-content auto auto;
  grid-row-gap: 3.8rem;
}

.hero {
  grid-area: hero;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.9rem;

  picture,
  img {
    align-self: center;
    max-width: calc(100vw - 2rem);
    width: 100%;
    height: auto;
    margin-bottom: 0.2rem;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 2.5rem;
    letter-spacing: 0.25px;
  }

  p {
    line-height: 1.65rem;
    letter-spacing: 0.12px;
  }

  a {
    margin-top: 0.6rem;
    background-color: $soft-red;
    color: $off-white;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 4px;
  }

  a:hover,
  a:active {
    background-color: $very-dark-blue;
    transition: 0.2s ease-out;
  }
}

.aside {
  grid-area: aside;
  background-color: $very-dark-blue;
  padding: 1.4rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;

  h2 {
    color: $soft-orange;
    font-size: 2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    background-color: $dark-grayish-blue;
    gap: 1px;
    justify-content: space-between;

    a:hover h3,
    a:active h3 {
      color: $soft-orange;
      transition: 0.2s ease-out;
    }

    section {
      background-color: $very-dark-blue;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1.86rem 0;

      h3 {
        color: $off-white;
        font-size: 1.2rem;
      }
      p {
        color: $grayish-blue;
      }
    }
  }
}

.feed {
  grid-area: feed;
  display: grid;
  gap: 2rem;
  justify-content: left;

  @media screen and (min-width: 21rem) {
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  }

  a:hover h2,
  a:active h2 {
    color: $soft-red;
    transition: 0.2s ease-out;
  }

  &__article {
    height: max-content;
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-template-rows: min-content min-content auto;
    grid-row-gap: 0.45rem;
    grid-column-gap: 1.7rem;

    img {
      grid-row: span 3;
      max-height: 8rem;
    }

    span {
      color: $grayish-blue;
      font-size: 2rem;
      font-weight: 700;
    }

    h2 {
      font-size: 1.2rem;
      color: $very-dark-blue;
      display: -webkit-box;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-weight: 800;
    }
  }
}

footer {
  margin-top: auto;
  a,
  a:visited {
    color: $very-dark-blue;
    text-decoration: underline;
  }
}

@media screen and (min-width: 60rem) {
  .hero {
    display: grid;
    grid-template-columns: 14fr 13fr;
    grid-template-areas:
      "image image"
      "title text"
      "title button";
    grid-row-gap: 1.6rem;

    picture,
    img {
      grid-area: image;
      height: 100%;
      margin-bottom: 0;
    }

    h2 {
      font-size: 3.6rem;
      line-height: 3.6rem;
      grid-area: title;
    }

    p {
      grid-area: text;
      line-height: 1.5rem;
    }

    a {
      grid-area: button;
      max-width: 11.5rem;
    }
  }
}

@media screen and (min-width: 50rem) {
  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 1rem 1.5rem 1rem;
  }
  #root {
    min-height: calc(100vh - 5rem);
    justify-content: center;
    align-items: center;
    max-width: 72rem;
    gap: 2rem;
  }
  .header {
    align-items: center;

    &__logo {
      height: 2.5rem;
    }

    .navigation-maximized {
      padding: 0;
      justify-content: center;
      align-items: center;
      width: auto;
      position: relative;
      background-color: $off-white;

      .button-close {
        display: none;
        visibility: collapse;
      }

      .header__navigation {
        font-size: 1rem;
        padding: 0;
        flex-direction: row;
        justify-content: flex-end;
        gap: 2.5rem;
      }
    }

    .navigation-hidden {
      width: 100%;
      overflow: auto;
      opacity: 1;
    }
    .navigation-minimized {
      display: none;
    }
  }
  .main {
    grid-template-areas:
      "hero aside"
      "feed feed";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content auto;
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
  }

  .aside {
    h2 {
      font-size: 2.5rem;
    }
  }
}
