html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, div, span, h1, p, img, ol, ul, li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  border: none;
}

ol, ul {
  list-style: none;
}

body {
  font: 13px "Manrope", sans-serif;
  color: hsl(217deg, 19%, 35%);
  min-height: 100vh;
  background: hsl(210deg, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

ion-icon {
  font-size: 1.1rem;
}

/* code from https://css-tricks.com/inclusively-hidden/ */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.card {
  border-radius: 10px;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 2px 10px 20px -8px hsl(212deg, 23%, 69%);
}
.card__banner {
  border-radius: 10px 10px 0 0;
  background: url("./images/drawers.jpg");
  background-size: cover;
  background-position: top;
  height: clamp(10rem, 30vh, 15rem);
}
.card__body {
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: space-between;
}
.card__title {
  font-size: 1rem;
}
.card__subtitle {
  color: hsl(214deg, 17%, 51%);
  line-height: 1.3rem;
}
.card__footer {
  padding: 0.6rem 2rem 1rem 2rem;
  position: relative;
  display: flex;
  align-items: center;
}

.info-section {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.info-section__avatar {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 2.5rem;
}
.info-section__author {
  font-weight: 700;
}
.info-section__publish-date {
  color: hsl(212deg, 23%, 69%);
}
.info-section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.button {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(210deg, 46%, 95%);
  color: hsl(217deg, 19%, 35%);
  transition: 0.3s ease-in-out;
}
.button_share {
  z-index: 5;
}
.button_active, .button:hover {
  background-color: hsl(214deg, 17%, 51%);
  color: hsl(0deg, 0%, 100%);
}

.share-section {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: hsl(217deg, 19%, 35%);
  color: hsl(214deg, 17%, 51%);
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
}
.share-section__button-group {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 1rem;
}
.share-section__social-icon ion-icon {
  font-size: 1.6rem;
  color: hsl(0deg, 0%, 100%);
}
.share-section_visible {
  display: flex;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media screen and (min-width: 700px) {
  .card {
    display: flex;
    max-width: 730px;
  }
  .card__banner {
    border-radius: 10px 0 0 10px;
    background: url("./images/drawers.jpg");
    background-size: cover;
    background-position: top;
    width: 110%;
    height: auto;
  }
  .card__body {
    padding: 2rem 2.5rem;
  }
  .card__title {
    font-size: 1.3rem;
  }

  .share-section {
    border-radius: 10px;
    width: min-content;
    height: min-content;
    padding: 0.6rem 1rem;
    right: 25%;
    left: auto;
    transform: translate(75%, -110%);
  }
  .share-section::after {
    z-index: -1;
    position: absolute;
    content: "";
    background-color: inherit;
    height: 1rem;
    width: 1rem;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
  }
}

/*# sourceMappingURL=style.css.map */
