@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

$font-stack: "Overpass", sans-serif;
$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$medium-grey-transparent: hsl(216, 12%, 54%, 0.1);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);

$circle-radius: 2.6rem;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* code from https://css-tricks.com/inclusively-hidden/ */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.body {
  padding: 1rem;
  font: 15px $font-stack;
  color: $light-grey;
  background: $very-dark-blue;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.span_circle {
  height: $circle-radius;
  width: $circle-radius;
  border-radius: 50%;
  background-color: $medium-grey-transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 15px;
  background: $dark-blue;
  padding: 1.5rem 1.2rem;
  max-width: 325px;
  min-height: 350px;
  display: flex;
  align-items: center;

  &__rating {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__header {
    color: $white;
    font-size: 1.4rem;
    letter-spacing: 0.4px;
  }

  &__text {
    letter-spacing: -0.3px;
    margin-bottom: 1rem;
  }

  &__thank-you {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
    line-height: 1.4rem;
  }

  &__image_thank-you {
    max-width: 50%;
    height: auto;
  }

  &__rating-result {
    background-color: $medium-grey-transparent;
    color: $orange;
    padding: 0.4rem 1rem 0.1rem 1rem;
    border-radius: 1rem;
  }

  &_hidden {
    display: none !important;
  }
}

.rating-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  &__rating-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__radio {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    height: $circle-radius;
    width: $circle-radius;

    &:hover + .span_circle {
      color: $white;
      background-color: $medium-grey;
      transition: all 0.2s ease-in;
    }

    &:checked + .span_circle {
      color: $white;
      background-color: $orange;
    }
  }
}

.button_submit {
  cursor: pointer;
  border-radius: 1.3rem;
  border: none;
  color: $white;
  background-color: $orange;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  height: 2.8rem;
  transition: all 0.2s;

  &:hover {
    background-color: $white;
    color: $orange;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
