#root {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.visible {
  visibility: visible !important;
  display: block;
}

.hidden {
  visibility: hidden !important;
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem 1.5rem;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header__mobile_overlay {
  /* visibility: hidden; */
  z-index: -10;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--black);
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;

  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: var(--white);

  padding: 1.6rem;
}

.header__mobile_overlay>ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
}

.header__logo {
  height: 1.6rem;
}

.header__navigation ul {
  display: flex;
  flex-direction: row;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 5.66rem;
}

.section {
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  max-width: 85%;
  text-align: center;
}

.section-hero {
  height: 80vh;
  background-image: url('/images/mobile/image-hero.jpg');
  background-size: cover;
  color: var(--white);
  padding: 0.5rem 1.42rem 0.5rem 1.55rem;
}

.section-hero h1 {
  text-align: left;
  color: var(--white);
}

.section-hero span {
  padding: 1.6rem 1.4rem 1.205rem 1.4rem;
  border: 1px var(--white) solid;
}

.section__cards {
  display: flex;
  flex-direction: column;
  gap: 1.45rem;
  width: 100%;
}

.card {
  min-height: 8.12rem;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  padding: 1.5rem;
}

.card__content h3 {
  color: var(--white);
  text-align: left;
}

.footer {
  padding: 3.8rem 0;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.footer__logo {
  width: 38%;
  max-width: 10rem;
}

.footer__navigation>ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer__social {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.footer__copyright {
  margin-top: -1rem;
}

.button {
  border: solid 2px var(--black);
  border-radius: 2px;
  letter-spacing: 5px;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.45rem 2.5rem;
}
