#root {
  display: flex;
  flex-direction: column;
  gap: 5.4rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem 1.42rem 2.5rem 1.55rem;
  position: absolute;
  width: 100%;
}

.header__logo {
  height: 1.5rem;
}

.header__navigation ul {
  display: flex;
  flex-direction: row;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 5.2rem;
}

.section {
  padding: 0.5rem 1.55rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 85%;
  text-align: center;
}

.section-hero {
  height: 71vh;
  background-image: url('/images/mobile/image-hero.jpg');
  background-size: cover;
  color: var(--white);
  padding: 0.5rem 1.42rem 0.5rem 1.55rem;
}

.section-hero h1 {
  text-align: left;
  color: var(--white);
}

.section-hero span {
  padding: 1.6rem 1.4rem 1.205rem 1.4rem;
  border: 1px var(--white) solid;
}

.section__cards {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: 100%;
}

.card {
  min-height: 7.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  padding: 1.3rem;
}

.card__content h3 {
  color: var(--white);
  text-align: left;
}

.footer {
  padding: 3.5rem 0;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.footer__logo {
  width: 38%;
  max-width: 10rem;
}

.footer__navigation>ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__social {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.footer__copyright {
  margin-top: -1rem;
}

.button {
  border: solid 1px var(--black);
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.45rem 2.35rem;
}
