*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
  font-size: 15px;
}

body {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: 0.2px;
  color: var(--very-dark-gray);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
button {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: var(--black);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

#root {
  isolation: isolate;
  position: relative;
}

h1 {
  font-size: 2.65rem;
  letter-spacing: 0.4px;
  line-height: 2.55rem;
}

h2 {
  font-size: 2.25rem;
  letter-spacing: -1px;
  line-height: 2rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.5rem;
  letter-spacing: -0.4px;
}
